.backround {
	align-items: center;
	background: linear-gradient(
		90deg,
		rgb(255, 212, 128) 0%,
		rgb(245, 98, 98) 100%
	  );
}

.header {
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700px;
    }
    
.container {
    background-color: rgb(255, 231, 187);
    justify-content: center;
    width: 80%;
    height: 1500px;
    color: black;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    margin-top: 400px;
}

.text {
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700px;
}

.image {
  align-self:center;
  text-align: center;
    margin-left: 200px;
}